:root {
    --success : #18d26e;
    --alert : #ca6161;
    --warning : #e9c13c;
    --active : lightcoral;
}


.centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    min-height: 100vh;
    background: url('science.png');
    color: lightcoral;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}

#container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 25px;
    width: 30vw;
    box-shadow: 10px 10px 15px #861f1f;
}

#container h2 {
    font-weight: 800;
    font-size: 2em;
    color: #861f1f;
}

#container a {
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
    background-color: lavender;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s ease all;
}

#container a:hover {
    cursor: pointer;
    transform: scale(1.5);
}

#container form {
    display: flex;
    flex-direction: column;
}

#container .form-control {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border-color: white;
}

.form-control label {
    margin-bottom: 10px;
}

.form-control input {
    background-color: #fff;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}

.form-control input:focus {
    border-color: var(--active);
}


.form-control.success input {
    border-color:var(--success);
}

.form-control.error input {
	border-color: var(--alert);
}

.form-control.warning input {
	border-color: var(--warning);
}

.form-control .response {
    margin: 5px 0;
    font-weight: 400;
    font-size: 10px;
	visibility: hidden;
}

.form-control.error .response,
 .form-control.warning .response,
 .form-control.success .response {
	visibility: visible;
}

#container .btn-container {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid white;
    margin: 10px 0;
}

.btn-container button {
    flex-grow: 1;
    padding: 5px;
    color: #661616;
    font-weight: 500;
    background-color: white;
    outline: none;
    border: 2px solid var(--active);
    border-radius: 5px;
    margin: 0 2px;
}

button:hover {
    cursor: pointer;
    background-color: #ca6161;
    border-color: #ca6161;
    color: white;
    font-weight: 500;
}

